@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: "Lora";
	src: url("../font/Lora-Regular.woff2") format('woff2');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lora";
	src: url("../font/Lora-Italic.woff2") format('woff2');

	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Lora";
	src: url("../font/Lora-BoldItalic.woff2") format('woff2');

	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Lora";
	src: url("../font/Lora-Bold.woff2") format('woff2');

	font-weight: bold;
	font-style: normal;
}

.regular {
	font-weight: normal;
	font-style: normal;
}

.italic {
	font-weight: normal;
	font-style: italic;
}

.bolditalic {
	font-weight: bold;
	font-style: italic;
}
.bold {
	font-weight: bold;
	font-style: normal;
}

body  {
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	background-color: #fcf6f1;
}
html {
	font-family: 'Lora', normal;
}
.btn {
	font-family: 'Lora', normal;
	text-transform: none; 
}
.line-block {
	display: block;
	position: relative;
	float: left;
	width: auto;
	line-height: 48px;
}
.line-block h3 {
	margin: 0;
	font-size: 22px;
	text-transform: uppercase;
	font-family: 'Lora', normal;
	padding: 0 30px;
	line-height: 48px;
}
.line-container {
	display: flex;
	width: 100%;
	background-color: #ded3bf;
	margin: 1.9466666667rem 0 1.168rem 0;
}
#top {
	background-color: #04385c;
	margin: 0;
	height: 40px;
	line-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top ul li{
	height: 20px;
	margin-top: 10px;
	border-right: 1px solid #335c79;
	font-size: 12px;
	line-height: 20px;
}
#top ul>li:last-child{
	border-right: none;
}
#top ul li a, #top ul li .fake-link{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding: 0 15px;
	display: block;
}
#top .row {
	margin-bottom: 0;
}
#top .nav-wrapper i, #top a.sidenav-trigger i {
	height: 20px;
	line-height: 20px;
	color: #fcba03;
}
header nav {
	height: 92px;
	background: url("../img/header.jpg");
	background-position-x: center;
	background-size: cover;
	background-repeat: no-repeat;
}
header nav #logo {
	max-height: 92px;
	width: 252px;
}
header nav .nav-wrapper {
	display: flex;
}
header nav .search-row {
	width: calc(100% - 252px);
	margin-top: 1.5rem;
}
header nav .search-row #searchfield {
	background-color: white;
	padding-left: 40px;
	padding-right: 30px;
	width: calc(100% - 70px);
  	height: 2.5rem;
	display: block;
}
header nav .search-row .search-icon {
	position: absolute;
	top: 0;
	left: 20px;
	line-height: 37.5px;
	color: #f2f2f2;
	text-shadow: 1px 1px 0px black;

}
header nav .search-row .btn-search {
	width: 100%;
	background: rgb(172,142,79);
  	background: linear-gradient(90deg, rgba(172,142,79,1) 0%, rgba(189,169,91,1) 50%, rgba(172,142,79,1) 100%);
	display: block;
	box-shadow: none;
}
header nav #logo .img-responsive{
	margin-top: 10px;
	max-height: 82px;
}
footer ul li, footer h5, footer .powered {
	text-transform: uppercase;
}
footer h5 {
	font-weight: bold;
}
footer ul li a{
	font-size: 12px;
}
footer {
	height: auto;
}
footer.page-footer {
	background: url("../img/footer-up.jpg");
	height: 400px;
}
footer.page-footer-down {
	background: url("../img/footer-down.jpg");
	min-height: 90px;
}
footer ul li{
	height: 20px;
	margin-top: 24px;
	border-right: 1px solid #335c79;
	font-size: 14px;
	line-height: 20px;
	padding-right: 10px;
    padding-left: 10px;
}
footer ul li a{
	color: white;
}
footer ul>li:last-child{
	border-right: none;
}
footer #logo-footer {
	margin-top: 9px;
	max-height: 92px;
	width: 252px;
}
footer .nav-wrapper ul {
	display: flex;
	justify-content: flex-start;
}
body .row .powered {
	padding-top: 35px;
}
.justify {
	text-align: center;
}
.row-fix {
	margin-bottom: 0;
}
.official-dis {
	margin: 0.5rem 0 1rem 0;
}
.main-h3 {
	color: #fcba03;
	background-color: #0b4773;
	font-size: 20px;
	padding: 10px 30px;
	width: auto;
	min-height: 48px;
}
.tabs-main {
	background-color: #ded3bf;
}
body .tabs-main>li.tab {
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	margin-top: 8px;
}
body .tabs-main>li.tab a {
	color: #947a3e;
}

body .tabs-main>li.tab .active,
body .tabs-main>li.tab .active:hover,
body .tabs-main>li.tab a:hover,
body .tabs-main>li.tab .active:focus,
body .tabs-main>li.tab .active:target{
	background-color: #f7efe7;
	color: #947a3e;
}
.tabs-main .indicator {
	display: none;
}

body .row .col-fix {
	padding-left: 0;
	padding-right: 0;
}
.card-main .card-content{
	background-color: #eee6db;
}
.card-main .cennik{
	background-color: #eee6db;
	font-weight: bold;
	color: #8f7435;
	font-size: 18px;
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	font-family: 'Lora', normal;
}
.card-main .calculation{
	background-color: #eee6db;
	margin-top: 20px;
	color: #8f7435;
	font-weight: bold;
}
.calculation .plus, .calculation .minus {
	font-size: 18px;
	color: #8f7435;
	font-family: 'Lora', normal;
	cursor: pointer;
}
.card-main .card-image .card-title {
	background-color: #0b4773;
	font-size: 14px;
	padding: 5px 30px;
}
p {
	font-family: 'Lora', normal;
	font-size: 14px;
}
span {
	font-family: 'Lora', normal;
}
.card-main .kolv {
	padding: 3px 9px;
	border: 1px solid rgba(0,0,0,0.6);
	border-radius: 4px;
	color: rgba(0,0,0,0.6);
	font-size: 14px;
	font-family: 'Lora', normal;
}
.card-main .card-action{
	display: flex;
	justify-content: center;
	background-color: #b59b55;
}
.card-main .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	color: white;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
	font-weight: bold;
	margin-right: 0;
	font-size: 15px;

}
.btn-center-width-main {
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
}
.btn-center-width-main a {
	display: block;
	padding: 20px;
	color: #8f7435;
	font-size: 18px;
}
.shoping-header {
	font-size: 18px;
	line-height: 24px;
}
.tovar-desctription {
	margin-top: 20px;
	font-size: 16px;
}
.left-panel-tovar {
	border-bottom: 1px  dotted #eee6db;
}
.font16 {
	font-size: 16px;
}
.font20 {
	font-size: 20px;
}
.btn-action {
	background-color: #b59b55;
    border: none;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    display: block;
    text-align: center;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 18px;
}
#common-home {
  margin: 0.5rem 0 1rem 0;
}
.btn-search > * {
  line-height: inherit !important;
}
.categories-container {
  position: absolute;
  top: 0.5rem;
  left: 0;
  min-height: 400px;
  background-color: white;
  padding: 2rem;
  margin: 0;
  z-index: 15;
  display: none;
  transition: 3s;
}
.relative {
  position: relative;
}
.opacity04{
  background-color: rgba(0,0,0,0.1);
}
.row .fix-column {
  padding-left: 0;
}
.row .shop-cart-img img {
  max-height: 125px;
}
.row .shop-cart-img {
  position: relative;
  height: 125px;
}
.row .shop-cart-text-tovar {
  position: relative;
}
.row .shop-cart-text-class {
  padding:5px 25px;
  background-color: #0b4773;
  width: auto;
  display: inline-block;
  color: white;
}
.row .shop-cart-main-text {
  margin: 20px 0 0 40px;
  font-size: 14px;
  color: black;
  font-weight: bolder;
  display: flex;
  justify-content: left;
}
.flex {
  display: flex;
  justify-content: left;
}
.shop-cart-main-calculation {
  margin-left: 100px;
  min-width:250px;
}
.shop-cart-main-calculation .cennik{
	font-weight: bold;
	color: black;
	font-size: 18px;
	display: flex;
  justify-content: flex-end;
  margin-left: 30px;
  
}
.shop-cart-main-calculation .calculation{
	color: #8f7435;
  font-weight: bold;
  font-size: 18px;
}
.shop-cart-main-calculation .kolv {
	padding: 3px 12px;
	border: 1px solid #8f7435;
	border-radius: 4px;
}
.text-shop-cart {

}
.margin-top10 {
  margin-top: 10px;
}
.absolute {
  position: absolute;
  right: 2rem;
  top: 50%;
  margin-top: -0.625em;
}
.symm-shop {
  padding-top: 0;
  margin-top: 0;
  color: black;
}
.pre-symm-shop {
	color: black;
}
.block-symm-shop {
  display:inline-block;
  text-align: left;
  padding: 2rem;
  width: 200px;
}
.btn-buy {
	background: rgb(172,142,79);
  background: linear-gradient(90deg, rgba(172,142,79,1) 0%, rgba(189,169,91,1) 50%, rgba(172,142,79,1) 100%);
	display: inline-block;
  box-shadow: none;
  width: 200px;
}
.collection a.collection-item, a {
  color: black;
}

.card .collection a.collection-item {
	font-size: 18px;
	padding-top:15px;
	padding-bottom:15px;
}
.card .collection a.collection-item i{
	color: #e0e0e0;
}
.col-brown{
	color:#8f7435;
}
.text-total{
	font-size: 16px;
	color: black;
}
.card p {
	color: black;
}
.ot-filter-money, .do-filter-money  {
	display: inline-block;
	border: 1px solid #8f7435;
	border-radius: 4px;
	padding: 0 15px;
	
}
.calculation-filter-money>div{
	display: flex;
	justify-content: space-around;
	line-height: 32px;
	font-size: 18px;
	padding-bottom: 20px;
}
.noUi-handle {
	border-radius: 50%;
	background-color: #cdaa3d;
	outline:none;
	cursor: pointer;
	box-shadow: none;
	border: none;
}
.noUi-handle:before, .noUi-handle:after, .noUi-touch-area {
	display: none;
}
.noUi-connect {
	background-color: #e4bf4d;
}
.noUi-target {
	background-color: #1c4a6a;
	border: none;
	box-shadow: none;
	border-radius: 1rem;
}
.noUi-horizontal .noUi-handle {
	width: 24px;
	height: 30px;
}
.border-fix-collection {
	border: none;
}
.border-fix-collection li.collection-item {
	border: none;
}
.fix-collection-color {
	background: none;
}
.fix-collection-color li.collection-item{
	background: none;
}
.fix-collection-padding li.collection-item {
	padding: 5px 0;
}
[type="checkbox"]:checked + span:not(.lever):before {
	border-right: 2px solid #e4bf4d;
    border-bottom: 2px solid #e4bf4d;
}
#common-home .breadcrumb, #common-home .breadcrumb:before {
	color: black;
}
.row .product-main-page {
	margin: 20px 0;
}
.row .product-main-page .shop-cart-main-text {
	margin: 0;
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	width: 70%;
	padding: 20px 20px;
}
.row .product-main-page .cennik {
	font-weight: bold;
	margin-left: 1rem;
	font-size: 24px;
}
.row .product-main-page .shop-cart-text-tovar {	
	background-color: #ded3bf;
}
.row .product-main-page .shop-cart-main-calculation {
	margin-left: 0;
	min-width: auto;
}
.row .product-main-page .calculation a{
	color: #8f7435;
	font-size: 24px;
}
.row .product-main-page .calculation .kolv{
	color: black;
	border: black 1px solid;
	font-size: 24px;
	padding-left: 2rem;
	padding-right: 2rem;
}
.space-between {
	justify-content: space-between;
}
.button-buy {
	width: 30%;
}
.button-buy .btn {
	width: 100%;
    background: rgb(172,142,79);
    background: linear-gradient(90deg, rgba(172,142,79,1) 0%, rgba(189,169,91,1) 50%, rgba(172,142,79,1) 100%);
    display: block;
	box-shadow: none;
	height: 100%;
}
.overflow-preview {
	width: 100%;
	/*max-width: 100%;*/
	overflow-x: auto;
}
.overflow-preview .img-preview {
	width: 75px;
	height: 75px;
	background-color: white;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	margin-right: 5px;
	min-width: 75px;
}
.overflow-preview .img-preview.active {
	border: 1px solid orange;
}
.overflow-line {
	min-width: 100%;
	width: auto;
	min-height: 100px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
}
.img-product-main {
	width: 100%;
}

.comments .row .input-field input, .comments textarea {
	background-color: white;
	border: none;
	padding: 0 10px;
	height: 45px;
	width: calc(100% - 20px);
}
.comments textarea {
	background-color: white;
	height: 100px;
	min-height: 100px;
	border: none;
	padding: 10px;
}
.comments .button-buy {
	width: 100%;
	height: 47px;
}
.row .card-comment {
	background-color: #ded3bf;
	padding: 10px 20px;
	min-height: 100px;
	margin: 10px 0;
}
.row .card-comment.pagination {
	display: flex;
	justify-content: center;
	min-height: auto;
}
.pagination li.active {
	background: rgb(172,142,79);
    background: linear-gradient(90deg, rgba(172,142,79,1) 0%, rgba(189,169,91,1) 50%, rgba(172,142,79,1) 100%);
}
body header .sidenav-trigger {
	position: absolute;
    right: 0;
}
@media only screen and (max-width: 600px){
	.line-block {
		width: 100%;
	}
	.text-shop-cart {
		width: 100%;
		display: block;
		margin-bottom: 15px;
	}
	.row .shop-cart-main-text {
		display: block;
	}
	.line-container {
		display: block;
	}
	footer #logo-footer {
		width: 100%;
	}
	body .row .powered {
		padding-top: 5px;
	}
	.shop-cart-main-calculation {
		margin-left: 0;
		min-width: auto;
		margin: 15px 0 15px 0;
	}
	.absolute {
		top: 10px;
		margin-top: 0;
	}
	.flex {
		display: block;
		width: 100%;
	}
	.row .product-main-page .cennik {
		margin-left: 0;
	}
	.row .product-main-page .shop-cart-main-text {
		width: 100%;
		margin: 0;
		display: block;
	}
	.row .product-main-page .shop-cart-main-calculation {
		margin-top: 25px;
	}
	.button-buy {
		width: 100%;
	}
}